nav>a{
    background-color: rgb(199, 8, 199);
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: .25rem 0;
}
h2{
    color: rgb(199, 8, 199);
}

h4{
    color: rgb(199, 8, 199);
}
.accomplishments{
    background-color:rgb(253, 231, 252);
    display:inline-block;
    /*I recommend adding vertical-align:text-top;*/
    width:20%;/*I recommend increasing this width a bit and adding padding 1rem. That way the words don't touch the edge of the box.*/
}
.workexperience1{
    display:inline-block;
    /*I recommend adding vertical-align:text-top;*/
    width:30%;
}
.workexperience2{
    display:inline-block;
    /*I recommend adding vertical-align:text-top;*/
    width:30%;
}
header{
text-align:center;
}
header img{
    max-width: 100%;
}
header>nav>a:hover{
   background-color: #f5a8eb;

 color: #fff;

 border: 1px solid #fff ; 
}
/*Only other recommendation I have is setting a max-width (about 60-80rem) on the main, with margin auto. It get a bit spread out and hard to read on large screen sizes.*/
@media (max-width:950px){
    .accomplishments, .workexperience1, .workexperience2{
        
        display:block;
        width:100%;
    }

}


